html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-style: normal;
    font-weight: normal;
    color: #717c97;
    height: 100%;
}

h1{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #8d8e8b;
}

h2{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

h3 {
    color: #555555;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
#pageLoader{
    position:fixed;
    z-index:99999;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(0,0,0,0.9);
    transition: 1s 0.4s;
}
#progress{
    height:1px;
    background:#fff;
    position:absolute;
    width:0;
    top:50%;
    transition: 1s;
}
#progstat{
    font-size:0.7em;
    letter-spacing: 3px;
    position:absolute;
    top:50%;
    margin-top:-40px;
    width:100%;
    text-align:center;
    color:#fff;
}
.app-canvas {
    width: 100%;
    overflow: hidden;
}
.map-canvas {
    width: 100%;
}

.legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
}

.legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}

.legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
}

ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
}

.legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}

.legend-source a {
    color: #777;
}

.wax-legends {
    border-color: rgba(0, 0, 0, 0.45) rgba(0, 0, 0, 0.45) #666;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.map-tooltip {
    border-color: rgba(0, 0, 0, 0.45) rgba(0, 0, 0, 0.45) #666;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#map {
    position: relative;
    height: 100%;
    width: 100%;
    cursor: default;
    padding: 0;
}

.tab-pane {
    padding: 20px 0 0 0;
}

.map-frame {
    padding: 0;
}

.map-rcp-title-bg {
    background: none repeat scroll 0 0 #f5e9e2;
    padding: 5px 0 5px 0;
    position: relative;
    width: 100%;
}

.map-rcp-country-title {
    color: #555555;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 0 0 5px;
}

.map-rcp-region-title {
    color: #54487e;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 0 0 5px;
}

.map-rcp-body {
    padding: 10px 0 0 5px;
    position: relative;
    width: 100%;
}

.map-rcp-emission-title {
    color: #F69;
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid;
    padding: 10px 0 0 0;
}

.map-rcp-emission-subtitle {
    color: #54487e;
    display: block;
    font-size: 14px;
    padding: 10px 0 5px 15px;
    font-weight: 500;

}

.map-rcp {
    padding: 0 0 0 25px;
}

.map-rcp-year-data {
    color: #717c97;
}

.map-rcp-year-label {
    color: #54487e;
}

.map-info-content h3 {
    padding: 10px 0 10px 5px;
    background: none repeat scroll 0 0 #f5e9e2;
}

.map-info-content p {
    padding: 10px 5px 10px 5px;
    color: #666666;
    text-align: left;
}

.map-rcp-source {
    font-size: 70%;
    color: #999;
    padding: 15px 0 0 0;
}

.map-rcp-source span {
    padding: 0 0 0 5px;
}

.map-rcp-source a {
    color: #777;
    font-weight: 600;
    text-decoration: none;
}

.map-rcp-source a:hover {
    color: #3887be;
}

.ccafs-logo-img {
    padding: 0 0 0 25px;
}

.leaflet-top .leaflet-control {
    margin-top: 60px;
}
.leaflet-left .leaflet-control {
    margin-left: 30px;
}

#overlay {
    position: absolute;
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
    width: 100%;
    height: 50px;
    z-index: 100;
}

.map-logo {
    float: left;
    padding: 5px 20px 0 0;
}

.map-title {
    padding: 12px 0 0 0;
    width: 400px;
    float: left;
}

.share {
    position: relative;
    float: right;
    padding: 15px 10px 5px 0;
}

.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices {
    height: 25px !important;
}

.app-canvas {
    width:100%;
}

.tab-pane-rcp-btn {
    padding: 15px 2px 0 0;
}

.tab-pane-rcp-btn a {
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}

/*.map-rcp-emission-chart-title {
    color: #F69;
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid;
    padding: 20px 0 0 0;
}*/

.map-rcp-chart {
    padding: 20px 2px 0 0;
    position: relative;
}

#map-rcp-chart-container {
    width: 100%;
}

@media(max-width: 1131px){
    .app-canvas {
        width:1131px;
    }
}

strong, b, strong *, b * { font-weight: bold !important; }
em, i, em *, i * { font-style: italic !important; }